
.banner-arriba-abajo {
    background-color: rgb(66, 184, 251);
    color: white;
    text-align: center;
    padding: 4px 0;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 12px;
}

#logo {
    transition: all 0.3s ease; 
    position: fixed;
    top:12px;
    left:15px;
}

#logo:hover {
    transform: scale(1.1);   
    cursor: pointer;           
}
/*BARRA SUPERIOR*/
nav {
    background-color: rgb(216, 59, 130);
    display: flex;
    justify-content: space-between;
}

nav > ul{
    margin-left: 8rem;
    gap: 2rem;
}

/*CUERPO DE PRODUCTOS*/

/*FOOTER */
footer {
    background-color: rgb(216, 59, 130);
}

.btn.btn-naranja {
    background-color: #FFA500 !important;
    border: none !important;
    color: white !important;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn.btn-naranja:hover {
    background-color: #e69100 !important; 
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.6);
}
.card-body{
    display: flex;
    flex-direction: column;

}